@media (max-width: 480px){
    a{
        color: #eaabab!important;
    }

    a hover{
        background-color: #eee!important;
    }

    .item {
        width: 90%!important;
        margin: 10px!important;
        float: left!important;
    }
}
@media(max-width: 767px){
    .navbar-nav.navbar-center{
        background-color: white;
        width: 100vw;
        height: 30vh;
        text-align: center;
        padding-top: 30px;
        left: 0;
        transform: none;
        z-index: 20;
    }
    .navbar-nav.navbar-center ul{
        position: absolute;
        z-index: 20;
        width: 100vw;
    }
    .navbar-nav.navbar-center li{
        background-color: white;
    }
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.header_laflora{
    position: relative;
    padding: 60px;
    box-sizing: border-box;
    height: 200px;
}
.logo_laflora{
    position: absolute;
    top: 10%;
    left: 40%;
    height: 55%;
}

.logo_laflora_mini{
    height: 30px;
}

.header_laflora h1{
    position: absolute;
    bottom: 5%;
    left: 34%;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #eaabab;
}

.navbar_laflora{
    border-top: 1px solid #f9eded;
    border-bottom: 1px solid #f9eded;
    border-radius: 0;
    height: 60px;
}

.navbar_laflora a{
    color: #989797;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-toggle .icon-bar{
    background-color: #989797;
}

/* home html */
#saludo{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: #f37c7c;
    margin-bottom: 20px;
    cursor: pointer;
}

#bienvenido{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 30px;
}
#bienvenido i{
    text-align: center;
    font-size: 45px;
    color: #ccc;
    margin-bottom: 30px;
}
.gallery{
    position: relative;
}
.flechader{
    position: absolute;
    right: -60px;
    bottom: 50%;
    color: #eaabab;
    font-size: 50px;
}
.flechaizq{
    position: absolute;
    left: -60px;
    bottom: 50%;
    color: #eaabab;
    font-size: 50px;
}

.gallery li{
     list-style: none;
}

.gallery img{
    display:none;
}

.laflora-destacados{
    border-radius: 5px;
    border: dotted 1px #eaabab;
    height: 350px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}


/* galeria html */
.fancybox-bg{
    background-color: white!important;
}

.fancybox-caption{
    color: black!important;
}

.fancybox-caption a{
    color: black!important;
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
  cursor: pointer;
}

/* pagina cursos */}
.principal{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.muestra{
    padding: 10px;
    box-sizing: border-box;

}

footer{
    background-color: #eaabab;
    height: 15%;
    padding: 30px;
    margin-top: 30px;
}
footer ul{
    display: inline;
}
.li_laflora{
    display: inline-block;
    padding-right:  10px;
}

.img_footer_laflora{
    height: 80px;
    border-radius: 50%;
    margin: 10px 45px;
    display: block;
}

.footer-copyright{
    float: right;
}
footer a,i,li{
    color: white;
}

form{
    width: 80%;
    margin-left: 40px;
}
